@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

.fade-in.opacity-0 {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.background-only {
    background: url('/assets/images/satu seduh.jpg') no-repeat center center fixed;
    background-size: cover;
}